[2016-12-14 14:56] mkassner opened #1 "Fragmented images under high network load"
A bug in jeromq creates fragment image payloads. They show as grey sections in the image.

[2017-01-24 15:08] willpatera commented on #1
@mkassner - This has been resolved AFIK. I will close this issue. Please re-open if needed.

[2017-01-24 15:08] #1 closed

[2017-01-24 15:11] papr opened #2 "Documentation needed"
Ref to original: pupil-labs/pupil#596

[2017-03-23 20:42] fosterseth opened #5 "[Question] how to read *.time files"
When recording locally to android device, there are two *.time files, which I assume to be the system clock timestamps of each frame. What is the encoding of those files -- numpy could not read them. I tried a base64 decoder but that didn't return anything meaningful.

Thanks

[2017-03-29 20:49] fosterseth commented on #5
I may have figured it out. I think it's big-endian 32-bits unsigned int

in python
[code]
seems to return something reasonable.

[2017-04-18 02:15] fosterseth commented on #5
further followup,

You need to pack to long, then unpack to float to get an accurate timestamp, as this is how java's intBitsToFloat works. See this discussion, http://stackoverflow.com/questions/30124608/convert-unsigned-integer-to-float-in-python
[code]

[2017-04-19 08:45] papr commented on #5
Sorry for the delayed comment. Timestamps are written as big-endian 32-bit floats. The easiest way to read all tiemstamps is to use numpy:

[code]

[2017-05-17 22:13] fosterseth commented on #5
ah this no longer works for me, as of the latest Pupil Mobile app (0.9.2). I also did an Android system update to 7.1.2 recently, but I can't imagine that would affect the timestamps.

Here is what I get now from the *.time files, using the numpy.fromfile(file, dtype='>f4') command,

[code]
etc.

Any suggestions?

[2017-05-18 06:33] papr commented on #5
Yes, this is our bad for not communicating this change, well enough. We changed the time stamp precision to 64 bit floats. Change `>f4` to `>f8` and it will work fine.

[2017-05-23 09:32] fluidblue opened #6 "Supported Hardware"
Hi,

I am trying to use a Pupil headset with the Pupil Mobile app. I connected the headset to a OnePlus 2 USB-C phone, but the app didn't show the cameras.

According to the [Pupil UbiComp Paper](https://docs.pupil-labs.com/#ubicomp-2014-paper) Pupil used USB 2.0 in 2014. Which USB version is used now?
Are any other capabilities of USB used (e.g. USB Power Delivery)?

Regards,
Max

[2017-05-23 09:34] mkassner commented on #6
Hi Max,

if you have a recent headset it should have a usb c clip and using a usbc-to-c cable it should work!

[2017-05-23 09:37] fluidblue commented on #6
It is a headset with a usb-c clip and I used a usb-c to usb-c cable, but it didn't work..

[2017-05-23 09:38] papr commented on #6
Dear @fluidblue

We use USB 2.0 cameras that are connected to a USB 3.0 hub. This is the usb-c clip mentioned above.

I use a OnePlus 3 and the cameras are all shown but I am only able to run more than two cameras at a time. It looks like the phone/kernel does not supply enough power to run 3 cameras.

If you want to run a binocular setup (3 cameras) we can recommend the Nexus 6P.

[2017-05-26 09:12] mkassner commented on #5
@papr  actually its 64bit little endian.

[code]

[2017-05-26 09:12] #5 closed

[2017-05-30 10:30] fluidblue commented on #6
Hello,

thanks for the answers.

Do all revision of the headset have a USB 3.0 hub?
In macOS 10.12.5, the System Information app shows a USB 2.0 hub for my headset, although it is connected to a USB 3.0 bus:
[sysinfo.txt](https://github.com/pupil-labs/pupil-mobile-app/files/1037975/sysinfo.txt)

Up to how much power does the headset consume?
Would it be possible to use a powered USB3.0 hub between

[2017-06-09 13:05] maciejpl commented on #6
Hello,

Could you provide me with information on what is the most important specification apart from the support for USB Type-C. For example the following smartphone (HTC 10), although untested by your company, technically should work?

http://www.htc.com/uk/smartphones/htc-10/

Its specifications looks very similar to that of Nexus 6P.

The problem is that my University can't buy refurbished devi

[2017-06-12 12:42] mkassner commented on #6
Hi,

they this phone "should" work. But there is no way of knowing before having tried it.

[2017-08-04 08:48] majoge commented on #6
Tried a Huawei Nova with USB-C. Did not work. Please clarify, which features of USB are used.

[2017-08-04 15:10] mkassner commented on #6
@majoge  we found that often is not only the phone but android being a bit iffy with permissions. Sometimes it starts working with a reboot and a few plug-unplugs.

We are still investigating. I have made very good experience with Nexus 5x and 6p.

[2017-10-02 08:51] mothman1 opened #7 "How to download my recordings?"
I'm trying the mobile app out and wonder where are the recordings saved on my mobile and how to download them to my computer? I looked everywhere for the recordings but couldn't fined them.

[2017-10-02 09:05] mothman1 commented on #7
OK, I had to follow this answer

https://android.stackexchange.com/a/59687

[2017-10-02 09:05] #7 closed

[2017-10-23 13:25] alexander-pastukhov opened #8 "Connecting to Pupil Mobile from Pupil Capture"
Hi,

I am trying to connect from Pupil Capture (pupil_capture_windows_x64_v0.9.14-7)  to Pupil Mobile (0.17.0) running at Nexus 5X phone (Android 7.1.1, build number NMF26F). The Pupil Mobile shows both the world cam (Pupil Cam1 ID2) and the eye cam (Pupil Cam ID0), and records (or, at least, looks like it is recording). However, I do not understand how to connect to it from Pupil Capture to perfo

[2017-10-23 13:34] papr commented on #8
Hey @alexander-pastukhov
Pupil Capture and Pupil Mobile use the [`ZRE` protocol](https://rfc.zeromq.org/spec:36/ZRE/) to automatically find each other. The protocol uses an UDP beacon to do so. It is very probable that your university wifi is configured to drop UDP traffic. Therefore, auto-detection does not work.

We recommend using a local ad-hoc wifi network (mobile hotspot) in such cases.

[2017-10-23 14:01] alexander-pastukhov commented on #8
Hey @papr,

not sure what I am doing wrong but I still cannot make them see each other :( I've tried:
1) local network via a wireless router I found (I don't know admin password, so I do not have any control over it, just connecting both) - nope.
2) hotspot on my phone with cellular traffic off: both computer and the Nexus phone connect, but "No hosts found" remains.
3) hotspot on the Nexus phone

[2017-10-23 14:12] papr commented on #8
@alexander-pastukhov Which Pupil Mobile and Pupil Capture versions are you using? From your description, it looks like you have the network setup correctly.

[2017-10-24 16:29] alexander-pastukhov commented on #8
@papr Turns out the problem was with the Uni-issued version of Win10. Used my private laptop using my phone as a hotspot as a link between the laptop and Nexus and everything worked like a charm. Thank you for your help!

[2017-10-24 16:29] #8 closed

[2017-10-26 09:57] papr opened #9 "No user feedback if recording fails because the storage is full"
It would be great to have a popup or something saying that the storage is full and an ongoing recording stopped or a new one could not be initialised.

[2018-01-24 03:49] willpatera commented on #6
I am closing this issue. We should document supported devices in the README instead of an issue.

[2018-01-24 03:49] #6 closed

[2018-01-24 04:57] Fin-13 opened #10 "Pupil Mobile - recording onto Moto Z2 Play's SD card does not have info.csv file"
i was able to open pupil mobile recordings in pupil player however the menus were not visible.  i could click through the clickable buttons which would highlight in turn however their separate menus would not display.
i attempted to reinstall the pupil player app and following reinstallation, the recordings would no longer load at all.  attempting to load the recordings would result in an error me

[2018-01-24 08:22] willpatera commented on #10
@saki4510t It appears that the `info.csv` file was not created for @Fin-13 on the latest version of the Pupil Mobile app. The user recorded directly to the SD card of a Moto Z2 Play device. Can you re-create this issue?

[2018-01-24 08:23] willpatera commented on #2
@papr this should be an issue for pupil-docs.

[2018-01-24 08:23] #2 closed

[2018-01-25 00:48] saki4510t commented on #10
@willpatera I can't re-produce this issue yet, it may depends on the condition of SD card. I will try to find potential causes on app.

[2018-02-21 21:43] AprilRG opened #11 "Recordings not showing eye behavior in player"
Hello,

I used the glasses with the mobile app and both the eye camera and world camera were working, but when I dropped it into the player, it only played the world camera view. I tried running it in capture, but it caused capture to crash. The recordings have some differences in the files, with surface_definitions, user_info.csv, and world.mp4 missing in the mobile recording but many other files

[2018-03-02 03:55] KhaledSaleh opened #12 "OnePlus 5 only eye camera is working"
Hello

I'm trying the pupil mobile with my tracker which has the high resolution world camera, when I connect it to my OnePlus 5 phone I only can see the feed coming from the eye camera but the world camera feed is not showing anything nor sending to the pupil capture !?

[2018-03-02 07:53] mkassner commented on #12
@KhaledSaleh  please try to reset the app settings. This should re-query the permissions and fix your problem.

[2018-03-02 07:53] #12 closed

[2018-03-08 17:29] AprilRG commented on #10
I had a similar issue with the info.csv file not being created. The recording was randomly shutting off early. I thought it was a storage issue, but I added a 256 GB micro SD to my phone and set it to save to the SD card. But it seems to stop recording randomly still. So this happened with and without the SD card. When the problem occurs, the info file is missing from the folder.  It doesn't alway

[2018-03-11 20:57] papr commented on #10
@saki4510t This is a reproducible issue. @AprilRG found out that the recording is terminated if the wifi disconnects.

Steps to reproduce:
1. Connect to a wifi
2. Open Pupil Mobile and start a local recording
3. Turn off wifi via Quick Settings

Behavior on One Plus 3 with Pupil Mobile 0.21.2: UI closes. Opening app again shows that the recording is not running anymore. Inspecting the recording fo

[2018-03-13 02:21] saki4510t commented on #10
@papr
Turning off Wi-Fi (by air plane mode, by setting etc.) is almost as same as removing network card from usual PC while networking.
Unfortunately zmq (network libraries that Pupil app uese) can never handle these type events well. And zmq many times raises un-recorveralble exception and crashes before any handling on app / before trying stopping zmq when app receives network state change event

[2018-03-13 14:34] AprilRG opened #13 "Auto-Exposure Priority and Wifi"
When I am on wifi, I can change this setting to the frame rate may be dynamically altered. But, when I disconnect from wifi, I cannot change this setting. This makes it very difficult to do a study outside.

[2018-03-13 14:36] mkassner commented on #13
Usually changing settings is locked during recording, maybe this was the case?

[2018-03-13 14:39] mkassner commented on #13
@saki4510t  apparently this is not related to recording. Can you check?

[2018-03-13 15:37] AprilRG commented on #13
I am using a Samsung Galaxy s8. I know it's not an approved phone, so if it's the phone I'll see if I can get some funds for a new one.

Here's what I did:
I started not connected to the wifi and not recording. I have the glasses facing outside so it's bright and I could see if the setting changed immediately. I opened the Pupil Cam1 ID2  and tapped the upper left button for settings. Then tried t

[2018-03-13 23:13] saki4510t commented on #13
@mkassner
As you requested, app resets camera settings for eye camera(s) every time when app starts using camera (for getting setting from camera, preview, recording and publishing to Pupil Capture).

[2018-03-14 07:27] mkassner commented on #13
@saki4510t  I think this discussion is about the world camera.

[2018-03-14 11:25] AprilRG commented on #13
@saki4510t I meant the world camera, sorry for not including it. My world videos are overexposed because I can't change this setting when I'm not on Wi-Fi.

[2018-03-14 20:34] saki4510t commented on #13
Sorry for my confusion, I will check/confirm and improve.

[2018-03-15 13:39] alexander-pastukhov opened #15 "World cam file is missing"
Hi,

we are using Google Nexus 5 and the app version 0.21.2. While we record, all sources including the world cam (Pupil Cam1 ID2) say "capturing". When opening the folder, we get
* Pupil Cam1 ID0.mjpeg that looks consistent,
* Pupil Cam1 ID0.time
* Pupil Cam1 ID2.time
* key_00040000.data
* key_00040000.time
* imu_00020000.time
* imu_00020000.imu
* audio_00010000.time
* info.csv

However, the vide

[2018-03-21 23:01] saki4510t commented on #13
@AprilRG
I mistook handling of camera settings for world camera and will fix on r0.23.0 (released now)

[2018-03-23 09:28] #13 closed

[2018-04-09 18:26] AprilRG commented on #10
I had this occur again to 2 of 5 recordings I made over the weekend. I was not connected to wifi the entire time and I did not see any error messages. I have player v1.6.11 and the most recent release for the pupil mobile app as well. This time loading a sample info.csv file did not allow it to load in player. The error in the command line reads "launchables.player: Could not generate world timest

[2018-04-10 14:53] alexander-pastukhov commented on #15
My bad,

it turned out to be Android to Windows file transfer issue with some files not being visible to Windows until I look at them using file explorer on the phone that, presumably, updated the directory listings, etc.

[2018-04-10 14:53] #15 closed

[2018-04-17 09:37] fneitzel opened #16 "0.23.1 | Pupil Mobile | Recording will stop whenever wifi connection is lost"
Hi!

If I record while deactivating the WIFI connection then Pupil Mobile will stop recording.
The same happens if I loose the WIFI connection to the router.

Best
Freddy

[2018-04-28 17:30] emolyzr commented on #9
not only for mobile, but also for pupil capture on a notebook

[2018-04-28 17:32] emolyzr opened #17 "How to load a mobile recording into pupil player?"
I do not understand the data structure that is saved on the SD card of the mobile phone. There are three folders, obviously one for each CAM (world, eye0, eye1). However, I can only drop one folder into the pupil player app. I also cannot merge the folders, since info.csv exists three times. How do deal with that?

<img width="502" alt="ordner" src="https://user-images.githubusercontent.com/355683

[2018-05-03 02:45] willpatera commented on #17
@emolyzr Could you let us know what Android device you are using? There should be video files for each camera that was enabled and audio/imu if enabled. Additionally you should see timestamp `.time` files and `info.csv` file all within **one** folder.

[2018-05-10 19:56] AprilRG opened #18 "Recording won't stop and file is unusable"
Sometimes after a recording session, when I click the button to stop recording it immediately goes back to red. Continuing the click the button doesn't change anything. Then I have the force close the app. This results in a recording without an info.csv file. With other app issues causing the info.csv file to not generate, I could copy another info.csv file in, then I could play it in pupil. This

[2018-05-17 19:39] emolyzr opened #19 "FEATURE REQUEST: Recognize External Microphone"
Hi,

I tried some external microphones. However, the pupil mobile app is only able to use the internal mic. Would be cool, if it'd recognize external mics also.

Best,
Johannes

[2018-05-23 09:56] emolyzr opened #20 "Capture-Publishing Mode / Some experiences"
Just some experiences to simultaneous recording on smartphone and streaming via wifi:
- Smartphone gets extremely hot (Moto Z2 Play)
- Sometimes on button press to start a recording some but not all modules switch status to capture, e.g. 2 cams are capture-publishing but 1 cam is only publishing. Sometimes audio is not captured. Stop and restart helps in these situations.
- Synchronous Capturing a

[2018-06-06 07:40] emolyzr commented on #17
I am using Motorola Z2 Play, as recommended. Encountered this now multiple times.

[2018-06-06 08:13] papr commented on #17
@emolyzr Did you use Remote Recorder to start the recording? This is a known issue and is ebing fixed in one of the upcoming updates. In the mean time, copy all `.mjpeg` and `.time` files into a single folder, add one of the `info.csv` files as well and drop that folder onto Player.

[2018-06-06 08:29] emolyzr commented on #17
Our WiFi connection was completely down, and we therefore wanted to make local recordings, i.e. directly recording using only the app. I try the copy-paste workaround.

[2018-06-06 09:29] papr commented on #17
Just to clarify: You used the main-recording button in the Pupil Mobile to make the recordings above?

[2018-06-06 10:13] emolyzr commented on #17
For the above recording, I am not 100% sure, but I guess "yes".

However, we made some recordings, for which we didn't had WiFi and that are split up into three folders (one per cam) just like the recording above. That is, without the smartphone being connected to any WiFi, we used the main-recording button in the Pupile Mobile App to make the above recordings.

[2018-06-24 15:44] sAArBu opened #21 "IPhone (IOS) compatible app"
Hi,
Is there a compatible app for ios (iphone)?

Thanks,
Saar

[2018-06-24 16:37] papr commented on #21
We are currently not supporting iOS and right now there is no such plan to do so in the near future.

[2018-06-24 17:39] sAArBu commented on #21
OK.

Thanks for the quick reply.
Saar

[2018-06-24 17:39] #21 closed

[2018-07-06 21:37] faithelizabeth opened #22 "Pupil cam file not saving as mp4"
When we record with mobile app only the world cam saves as a mp4 and the pupil cam saves as a mjpeg. Is there a way to correct this so both are in mp4 format?

[2018-07-17 07:57] mkassner commented on #22
@faithelizabeth  this is the default setting. If you want both in mp4 you need to turn on h264 compression in the settings. This might reduce framerate!

[2018-07-17 07:57] #22 closed

[2018-07-17 07:58] mkassner commented on #16
This is now resolved.

[2018-07-17 07:58] #16 closed

[2018-07-17 07:58] mkassner commented on #10
fixed.

[2018-07-17 07:58] #10 closed

[2018-07-26 15:13] Francois-Laberge-Bose opened #23 "Open Sourcing App"
hi,

Are you going to open source this app? I need a portable solution for work we're doing and having access to the video feed and eye tracking data would be the solution.

Thanks,
Francois

[2018-08-06 12:26] phev8 opened #24 "Reading IMU file"
I couldn't find any instruction or hint how to open the IMU files recorded by the app. I see that both the imu_xx.imu and imu_xx.time files contain binary values. Does the Pupil Player has any csv export function for IMU data?

[2018-08-06 12:43] papr commented on #24
Hey @phev8
Pupil Player does not support IMU data import/export yet. See this issue https://github.com/pupil-labs/pupil-mobile-app/issues/5#issuecomment-295168255 on how to read the time files.

@saki4510t could you elaborate on the `*.imu` data format?

[2018-08-15 20:17] phev8 commented on #24
Thanks @papr. I could read the time files based on the comment you mentioned. But I'm still struggling with the IMU data. Assuming it has the same number of rows, than the time file, each row would then contain 960 bytes or so. I was trying to read values with converting simply each 4 or 8 byte into a float/double value, but the numbers are huge then, so probably doing it wrong.

[2018-09-26 21:36] mahbub2251 opened #25 "Gaze mapping"
How to load the gaze mapping from the mobile recordings?

I can only enable the Vis Circle or Vis Polyline from the player if the recording is from the computer. How can I track the pupil if it is from mobile recording?

[2018-09-26 21:38] papr commented on #25
Hey, please see the offline pupil detection and offline calibration instructions in our documentation for this information.

[2018-09-27 09:40] #25 closed

[2018-09-27 09:40] #18 closed

[2018-09-27 10:13] mkassner commented on #20
I recommend not having the phone in a pocket but rather outside. We test  using the moto z2 and z3 play. We find that you can record at full framerate fine. Streaming and recording at the same time can lead to frame-rate decrease. We recommend streaming only for preview and recording for most of the experiment.

[2018-09-27 10:13] #20 closed

[2018-09-27 10:14] mkassner commented on #24
@saki4510t  can you quickly explan the imu data format here?

[2018-09-27 10:15] mkassner commented on #23
you can actually get the video data using the network api into your android app. We actually dont do pupil detection and gaze mapping on the app btw.

[2018-09-27 10:15] #23 closed

[2018-09-27 10:16] mkassner commented on #17
I think this is fixed and I will close this issue now.

[2018-09-27 10:16] #17 closed

[2018-09-27 10:16] mkassner commented on #9
fixed.

[2018-09-27 10:16] #9 closed

[2018-10-12 20:54] mahbub2251 opened #26 "Time Stamp"
after loading the time from world camera; timestamps = np.fromfile('Pupil Cam1 ID2.time', dtype='>f8'), I get the following output:
array([13578.784619, 13578.816946, 13578.855727, ..., 14059.893803,
       14059.933205, 14059.991629])

What I don't understand is the time format. Can you please clarify?

[2018-10-12 21:01] papr commented on #26
Unit is seconds. The time epoch is arbitrary. Timestamps are used to correlate different data sources. Use the time sync plugin to sync time between Capture and Pupil Mobile.

[2018-10-12 21:10] mahbub2251 commented on #26
Can you please explain in detail? 'cause I need the real timestamp of the video. I have collected some data using other sensors, and the timestamps need to be matched so I can correlate them.

I can play the video captured by mobile on Pupil Player, but how do we know the real time?

[2018-10-22 18:06] mahbub2251 commented on #26
Hi,

Can you please help me with the timestamp? I don't understand the concept.

On Fri, Oct 12, 2018 at 5:01 PM Pablo Prietz <notifications@github.com>
wrote:

--
Best Regards,
*Munshi Mahbubur Rahman*
Graduate Research Assistant, *SAIL Lab*
Dept. of Information Systems
University of Maryland, Baltimore County.

[2018-10-31 13:47] njss opened #28 "Pupil Mobile App"
Hello,

I am using a Motorola Moto Z3 phone with pupil mobile.
The app runs and it can connect to all 3 cameras.
However, I cannot stream the video to my desktop PC Windows 10 (same network as my phone on wifi).
I've selected pupil mobile as capture input but it never displays anything on commspec 3 remote hosts.

Am I doing something wrong?

Thank you

[2018-11-04 04:49] teresaCB opened #29 "Pupil player can't load recording from Pupil Mobile"
Pupil Player fails to load the recording data from Pupil Mobile. I drop the folder (that I previously extracted from the android) into Pupil Player but it never loads it. Is there a previous formatting that needs to be done to be able to load it?

See picture of the folder files.
<img width="495" alt="screenshot 2018-11-03 21 37 44" src="https://user-images.githubusercontent.com/34170792/47960113-

[2018-11-06 04:39] willpatera commented on #28
@njss what version of Pupil Mobile and what version of Pupil Capture are you using?

[2018-11-06 05:49] teresaCB commented on #29
Yes, it does have a world camera and I can successfully see through it in the pupil mobile app. Any ideas why the file isn't there?

[2018-11-06 06:10] willpatera commented on #29
What version of Pupil Mobile are you using?

[2018-11-06 06:13] teresaCB commented on #29
0.31.0-revert

[2018-11-06 06:47] teresaCB commented on #29
I have updated Pupil mobile app to its beta version and now I can see the world camera videos in the file. I tried to now load the data in Pupil Player, and still won't load it (see the log below).
![screenshot 2018-11-05 22 45 59](https://user-images.githubusercontent.com/34170792/48047332-977b3b80-e14c-11e8-9bdc-a315401663d5.png)

2018-11-05 22:34:31,747 - MainProcess - [INFO] os_utils: Disabled

[2018-11-06 07:04] willpatera commented on #29
@teresaCB could you also let me know what mobile device you are using?

[2018-11-06 07:06] teresaCB commented on #29
Moto Z2 play with the 7.1.1 android version

[2018-11-06 07:06] papr commented on #29
The problem is that the video+time files are not recognized as eye/world cameras. Is it possible that you using a DIY-headset? Please rename them as following:
[code]

[2018-11-06 07:11] teresaCB commented on #29
That fixed the problem!!

I changed the names on the app just to make them more intuitive, but I guess they'll have to stay like that.

Thank you so much

[2018-11-06 22:18] njss commented on #28
Hello,

I am using the latest versions.
Capture does not detect any mobile app in the network.

Thank you.

[2018-11-06 22:30] papr commented on #28
Please let us know the exact version numbers.

[2018-11-09 15:45] njss commented on #28
Hello,

sorry for the delay.
My pupil mobile app has the version: 0.35.0 / Commspec Version: v3
My pupil capture version is: v1.8-26

Thank you for the help.

[2018-11-13 10:20] tombanfi commented on #28
Hi there,
I also experienced a similar issue, with the phone displaying locally all the cameras and so on but undetected in the host list of the pupil_capture GUI.
I used a Huawei P20, pupil mobile version 0.35.0, commspec v3.
Pupil capture version: 1.8.26
WLAN ap firewall deactivated.

Below the terminal messages from the pupil_capture GUI when launching it with pupil mobile selected as the data

[2018-11-20 20:13] tombanfi commented on #28
@papr I tried to use the app on a couple of networks. During the first attempt the phone and the computer were on the same WLAN on a crowded 5GHz network. I had no control on routing or firewall-security settings. In the second attempt a dedicated 5GHz network was created using a pretty standard ap-router. No other device was connected to the WLAN excluding the phone and the computer. I turned off

[2018-11-21 23:40] njss commented on #28
In my case...I have my phone connected by 5g wireless to the same network as my desktop PC. The desktop PC is connected by cable to the same network as the phone (brand new Motorola Moto Z3).

[2018-12-04 03:03] cadop opened #30 "Speed of recording, by phone?"
I have a sony xperia phone.  The app works and is able to record and stream.  However, when recording it seems to both lower quality and framerate compared to the desktop.  Are there any known specs on phones or expected recording speed?  Is this framerate part of the issue mentioned on not knowing which phones would work?

[2018-12-15 09:00] nothaoyi opened #31 "Can't load recording from Pupil Mobile in Pupil player"
I have a very same issue #29 , however renaming the files did not solve this problem.

This is what the contents of the folder look like after copying it from the phone to my pc:

![unbenannt](https://user-images.githubusercontent.com/28780612/50041097-811ba600-004f-11e9-9e47-3421657df51f.PNG)

Error log:
[INFO] player_methods: Updating meta info
player - [INFO] player_methods: Checking for world-

[2018-12-15 09:04] papr commented on #31
Hi @nothaoyi, could you please post a screen shot of the files after having renamed them?

[2018-12-15 09:08] nothaoyi commented on #31
![image](https://user-images.githubusercontent.com/28780612/50041195-39961980-0051-11e9-8ca2-a89dc2d6be13.png)

[2018-12-15 09:12] papr commented on #31
Please try copying the original info.csv file into the recording, overwriting the existing one, and open the recording in Player again.

[2018-12-15 09:35] nothaoyi commented on #31
That solved it!

So do I have to rename and copy the original info.csv file everytime I try to open a local mobile recording on my pc or is there a way around it?

Thanks alot!

[2018-12-15 09:38] papr commented on #31
Rename the files before starting Player. Then you can skip copying the original info.csv for the second time

[2018-12-16 07:30] #31 closed

[2018-12-22 15:51] ewaldstrasser opened #32 "Not working in Android 9"
I got the message that under Android 9 might not work anderen they so not work.
When ist this fixed?

[2019-01-08 10:33] olliraa commented on #25
Hi.

having the same problems. My main problem is this: where do I calibrate when using Pupil Mobile? You said:

But, how can I start calibration on the Android? Sorry, I must be blind or something :/

[2019-01-08 13:24] olliraa opened #33 "Offline calibration: I just don't get it"
Sorry to be so thick headed, but I just cannot get it to work. I can run the offline pupil detection and it works fine. But when I try to run the offline calibration I only get "Not enough reference points" or "no reference marker data to calibrate section 1". I'm totally missing the idea how do I calibrate the cams when recording with Pupil Mobile. I understood that there is not any calibration i

[2019-01-08 13:49] papr commented on #33
Hey @olliraa
Would you mind sharing an example recording with data@pupil-labs.com ? I will have a look if I can spot any procedural issues during the recording.

[2019-01-09 06:43] olliraa commented on #33
Just emailed a link to the files :)

[2019-01-14 10:42] willpatera commented on #33
Hi @olliraa I have reviewed your recording. You need to include a calibration procedure (with calibration markers) in the recording. Please refer to the offline calibration section in docs here: https://docs.pupil-labs.com/#data-source-plugins

[2019-01-16 07:00] olliraa commented on #33
Hi Pablo :)

Thank you so much, I finally got it :D Awesome! Now just to fine tune the
offset and I'm good to go.

All the best,

-Olli

ma 14. tammik. 2019 klo 12.42 Will (notifications@github.com) kirjoitti:

[2019-01-16 10:01] #33 closed

[2019-01-18 08:51] zElaineYulanZhang commented on #28
I experienced a similar problem....pupil on my desktop can detect the my mobile device but the image can not be displayed...always fall into ghost mode...anyone can help?

[2019-01-21 14:48] papr commented on #32
Android 9 introduced system changes that make it impossible to detect/access the Pupil cameras. We are still investigating the issue but it looks like this is something that cannot be fixed on app-level. Therefore the warning.

[2019-01-21 15:09] portas525 commented on #32
the two eyecams cams can be detected. the main problem (as I see) is the field cam. Also the streaming of the two eyecams over networks works fine. So "only" the fieldcam is missing.
Best
portas525

[2019-01-22 15:17] mkassner commented on #32
The issue is that a number of uvc devices are for some reason no longer detected in Android 9. We are working on a fix for now he highly recommend NOT UPGRADING to android 9!

[2019-01-22 15:18] mkassner commented on #32
IF we can fix this it will require either a fix in Android or a firmware upgrade of the world camera.

[2019-02-06 15:46] saki4510t commented on #24
Data in `.imu` file are as follows;
One data is 3 float32 values and 80 data packed into one frame.
App also write timestamp values into `.time` file for each frame (==every 80 data) and when app write last data(the last frame may be 1-80 data).

[code]

[2019-02-07 10:20] phev8 commented on #24
Thanks for the answer. That helped me to read the file.

[2019-02-07 10:20] #24 closed

[2019-02-13 15:51] AprilRG opened #34 "Eye Cam stopped recording"
Although I can see the eye camera when I am in the app, so I know it works, the recordings aren't there. It started when I switched the save location to an SD card, but now when I try to switch back to default, nothing is saved. I tried to go back to the default to see if I could get the eye recording.

[2019-02-19 13:08] ZanderUniBS opened #35 "World camera"
Hello,

i attempted to run Pupil Mobile App on Huawei P20 and One Plus 6 both, but in any case world camera has not been shown. I saw only the two eye cameras and their feed. I've installed Pupil Capture v1.10-20 on Win 10 and Pupil Mobile App version 0.31.0-revert.
What could i do in order to see the world camera?

[2019-02-19 13:44] papr commented on #35
Hi, can you please connect the headset directly to the computer and verify that the world camera works correctly?

[2019-02-19 15:30] ZanderUniBS commented on #35
I have done it. Cameras work properly, even the world one.
I installed the app https://play.google.com/store/apps/details?id=com.shenyaocn.android.usbcamera on my phone and i see alle three cameras one by one, thus seems it don't have any hardware issue.

[2019-02-19 16:13] papr commented on #35
Ok, great! And does the world camera show and preview on the phone when running Pupil Mobile? Make sure it does not show as "offline".

[2019-02-19 16:39] ZanderUniBS commented on #35
I don't find world camera in the Pupil Mobile list. How can i check if it is shown as "offline"?
I only see Pupil Cam2 ID1 and Pupil Cam2 ID0.

[2019-02-19 18:46] papr commented on #35
Which Android version do you use. There is a known issue where cameras are not detected correctly by the libuvc layer on Android 9

[2019-02-19 19:29] ZanderUniBS commented on #35
Both phones have Android 9. Thus, is there a way to solve it? Something that I can do? Thanks for your support.

[2019-03-11 16:00] charlottevera commented on #32
Is there any update on this issue? My OP6 with Android 9 doesn't recognize the eyetracker at all...but that might just be my inexperience with the software.

[2019-03-12 15:58] mkassner commented on #32
@charlottevera  unfortunately not. This Anroid9 bug cannot be worked around. You need to revert to android8.

[2019-04-30 07:14] PapaFuchs commented on #32
Note: **Possible solution** below.

As we really need your app to run on Android 9, I did some research for you, guys:

Afaik, the common way to use UVC devices in Android is the [UVCCamera](https://github.com/saki4510t/UVCCamera) library, so I assume you are using it too, right?
Although the active development on this library seems to have stopped quite a while ago, they have an [interesting open

[2019-05-06 14:04] mkassner commented on #32
@PapaFuchs we are looking into this! Thanks for the pointer!

[2019-05-09 10:18] cynicer commented on #32
Thanks @PapaFuchs for pointing out the solution! I've been hoping for a long time that this bug finally gets fixed. As it turns out it is indeed NOT impossible to detect the Pupil cameras in Android 9, with the correct device filters set. I unpacked the APK, inserted the suggested snippet and repacked it. Works now! :-) I'm hoping for an official update soon.

![photo_2019-05-09 12 16 05](https://

[2019-05-09 13:32] portas525 commented on #32
Hello Marcel,
That loojs great. Will you share your app with me?
Thanks
Klaus

Am 9. Mai 2019 12:18:35 schrieb Marcel Breitenfellner
<notifications@github.com>:

[2019-05-09 13:43] mkassner commented on #32
The current beta release of pupil mobile support android 9. While this is still a workaround it does allow to use USB Cameras on android 9 with Pupil Mobile.

[2019-05-09 13:43] #32 closed

[2019-05-15 02:54] willpatera commented on #35
There is a bug in Android OS v9 (aka Android Pie)  that breaks USB device enumeration for many USB Cameras. This bug also affects Pupil Labs hardware. Therefore if you are using Pupil Mobile on a device runningAndroid v8, we recommend that you do not upgrade yet to Android v9. If you did update to Android v9 and the update broke compatibility with our hardware, fear not we have we have a solution

[2019-05-15 02:54] #35 closed

[2019-05-21 11:55] JoeCassidy opened #36 "Eyetrackers not registering on One Plus 5T"
Hi,

We have recently purchased some new One Plus 5T phones for use with our portable eye trackers. Although I can see the new phones on the pupil capture software on the laptop when both the laptop and phones are connected to our 5G router- I am unable to open either of the eye trackers on both phones. The eye trackers do not show up at all when attaching via the USB-C cables and only the 'remote

[2019-05-21 12:33] papr commented on #36
Hi @JoeCassidy
In order for the app to recognize the cameras, you need to enable the `OTG storage` mode in the system settings. Afterwards, you should see the cameras pop up in the app's main view. You can display the camera preview by tapping each entry.

In case that these steps did not work for you, please comment below, and we can reopen the issue.

[2019-05-21 16:17] JoeCassidy commented on #36
Hi,

Many thanks for your quick reply- I’m glad to say that this sorted the issue and the phones are now working!

However, there doesn’t seem to be an option to keep that option selected (it resets after 10 mins). Is this your experience with the One Plus 5T? (if you have used it?)

Many thanks,

Kind regards,

Joe

Joe Cassidy
Psychology Technician/Developmental Dynamics Lab Manager
School of Ps

[2019-05-21 17:24] papr commented on #36
Yes, it resets after some time of inactivity. The reset should not happen while the cameras are in use. As far as I know, disabled OTG is a security feature. I do not know how easy it is to enable it permanently.

[2019-05-22 06:05] #36 closed

[2019-05-22 07:11] papr commented on #36
To conclude this issue: On OnePlus devices, OTG can be enabled permanently using the [adb (Android Debug Bridge)](https://developer.android.com/studio/command-line/adb).

Disclaimer:
One can easily find guides with more details but **we do not recommend** to follow them. If you follow them, do so **on your own risk**.

[2019-05-22 15:28] JoeCassidy commented on #36
Hi Pablo,

Many thanks for the info- one of the lab members also found these instructions on how to enable OTG permanently on the Oneplus 5t phones- do you think this approach would be suitable?

https://www.xda-developers.com/enable-always-on-otg-oxygenos/

Is there a reason that you don’t recommend permanently enabling this function?

If there is a solid reason/concerns about enabling the OTG th

[2019-05-23 09:45] papr commented on #36
I do not know the exact risks of enabling OTG permanently. There must be a reason why OnePlus does not offer this option via the UI. Therefore, I cannot recommend it.

Yes, the home screen shortcut to enable OTG is a good work around which we use as well.

I have not experienced the described camera-shutting-off issue before. I have a few questions in this regard in order to debug the issue:
- Can

[2019-05-24 22:09] eicm commented on #32
@mkassner I'm using a Pixel 3, how can I get the beta APK as I can't download it from playstore and haven't found the the latest beta release anywhere on the web

[2019-05-24 22:15] papr commented on #32
@eicm Have you joined the beta program? https://accounts.google.com/signin/v2/identifier?passive=1209600&continue=https%3A%2F%2Fplay.google.com%2Fapps%2Ftesting%2Fcom.pupillabs.pupilmobile&followup=https%3A%2F%2Fplay.google.com%2Fapps%2Ftesting%2Fcom.pupillabs.pupilmobile&flowName=GlifWebSignIn&flowEntry=ServiceLogin Afterwards, you should be able to download the beta from the Play Store.

[2019-05-30 10:51] eicm commented on #32
@papr Yes I did join the program but the download option is disabled on Pixel 3 (as it is nor listed as a supported device by pupil-labs)

[2019-05-30 12:08] eicm commented on #32
@papr I'm reading the source code to understand the calibration and 3D gaze estimation better, is there any literature to read more abt the techniques?

[2019-05-30 12:27] papr commented on #32
- Pupil Mobile - @saki4510t can you verify that the app has been disabled for Pixel 3 phones? If yes, do you remember the technical reason for doing so?

- 3d gaze estimation - The pipeline is based on [this paper](https://www.researchgate.net/profile/Lech_Swirski/publication/264658852_A_fully-automatic_temporal_approach_to_single_camera_glint-free_3D_eye_model_fitting/links/53ea3dbf0cf28f342f418d

[2019-05-30 14:23] JoeCassidy commented on #36
Hi,

We have been experiencing another issue since resolving the above issue- basically the phones will connect and run mostly fine- but we are experiencing some issues with one of the recordings dropping sporadically.

We are running 2 instances of pupil mobile on 2 OnePlus A5010_NMF26X (5T) phones, which are streaming via a 5G router to a MacBook running pupil capture (again 2 instances, one for

[2019-05-30 14:28] saki4510t commented on #32
@papr
Previously Pupil Mobile can not work on any Android 9 device, so some devices (that only run with Android 9 like Pixel3) are disabled on Google Play to prevent installing. After releasing version 1.2.1 on beta track(yesterday), they were enabled again and will be available soon.

[2019-05-30 14:29] papr commented on #32
@saki4510t thank you very much for the update.

[2019-05-30 15:37] eicm commented on #32
Thanks for the update, I can verify that all 3 cameras work properly.

[2019-05-31 11:43] JoeCassidy opened #37 "Recordings dropping on pupil mobile"
To whomever it may concern,

We have been experiencing another issue while recording eye tracking sessions using the 2 newly purchased OnePLus5T phones; with one of the recordings dropping sporadically.

We are running 2 instances of pupil mobile on 2 OnePlus A5010_NMF26X (5T) phones, which are streaming via a 5G router to a MacBook running pupil capture (again 2 instances, one for each camera/pho

[2019-07-16 17:43] graceshaib opened #38 "Pupil Mobile App On IOS"
Hello,

I was wondering if anyone managed to download the pupil mobile app on IOS since the application is only available on Android softwares. If you are also familiar with a way to do that please let me know. Any help is appreciated.

Thank you!

[2019-07-16 17:46] papr commented on #38
Hi, Pupil Mobile for iOS does not exist and there are currently no plans to develop such an application. We can reopen this issue, if this changes.

[2019-07-16 17:46] #38 closed

[2019-08-04 02:18] linussun opened #39 "Changing frame rates crashes app"
On One Plus 6 device (ONEPLUS A6000_22_190625) in the pupil-mobile-app (v1.2.1; Commspec v3) I can change the frame rate of one camera without crashing the app (e.g. the world camera is default 30Hz, and can increase to 60Hz, the pupil cams are default 120Hz which I can increase the first time to 200Hz for one camera), however when attempting to subsequently change the frame rate of one of the oth

[2019-08-17 00:26] corysinman commented on #28
Once making sure both the phone and computer are on the same network, you might need to make sure your network is switched to public to ensure that the device doesn't go directly to 'ghost mode'. I just did that and it solved my issue.

[2019-08-30 08:23] MLT-SEP commented on #32
I cannot use Pupil Mobile and I have Android 9. Does The problem still remain ?
If so, is it possible to explain how Can I solve that please easily ? Maybe, they found New solution.

[2019-08-30 08:32] papr commented on #32
Please update your Pupil Mobile application. Version 1.2.1 includes a work-around that solves the issues with Android 9.

In case that none of the cameras are recognized, you might need to enable the OTG setting of your phone.

[2019-10-02 15:46] MLT-SEP commented on #32
I used Version 1.2.1 and I connect OTG setting on my phone. It worked but today I have still the same problem : no detection of the eye-tracker on the phone. Eye-tracker is detected on computer.  Could you help me again please to find solution ?

[2019-10-02 15:48] papr commented on #32
Hi @MLT-SEP How are you connecting the eye tracker to your phone? Make sure to use a proper USB-C to USB-C cable. Also which phone do you use?

[2019-10-02 15:52] MLT-SEP commented on #32
Hi,
Yes I use a proper USB-C to USB-C cable. I did not change the cable between yesterday and today. I tried with another cable just in case it was the cable but it did not work more.

[2019-10-02 15:54] papr commented on #32
Ah, my apologies, I misunderstood. Please check all cable connections and ensure OTG is turned on. It sometimes turns off automatically. Regarding the cable connection: Sometimes one has to push a little harder to connect the cable correctly to the hub.

[2019-10-02 16:07] MLT-SEP commented on #32
Thank you for your answer. Unfortunately, I am checking cable connections and OTG but nothing happens. Have you another idea ?

[2019-10-02 16:16] papr commented on #32
Not right, especially if it is still functional when connecting it directly to Capture.

[2019-10-02 16:18] MLT-SEP commented on #32
Yes it is functional on Pupil Capture on my computer.

[2019-10-17 13:09] samhforbes commented on #37
Just wondering whether there has been a solution to this issue - we are still encountering the same issues (I work with Joe).

Best,
Sam

[2019-11-06 20:59] corysinman opened #40 "FEATURE REQUEST: Adding a NTP time column to sync with other NTP clocked mobile devices"
Do you think it would be possible to add a Network Time Protocol (NTP) column (from your favorite NTP server like Time.Google.Com) from the to the output data that is synced with the time data that Pupil Mobile logs?  We are trying to use NTP times to sync the Pupil Mobile devices with other phones and a Raspberry Pi. Would love to discuss how best to do this!

Cory Inman

[2019-11-06 21:29] corysinman commented on #40
Or any suggestions on how to use the time data already logged to sync with an NTP clock would be super helpful. For instance, what clock on the Android is Pupil Mobile logging as the sync?  Thanks!

[2019-11-15 20:00] QuickScoP3s commented on #28
I know this can be considered thread necromancing, but I just tried the Mobile streaming and it wasn't working until followed @corysinman 's advice:
Set the Network Profile to "Public" and creating + connection to a mobile hotspot made it work

[2020-05-22 07:42] hz-pupil opened #41 "want the app of pupil-mobile-app"
I am from China, I cannot open google play store, so I can not download the  pupil-mobile-app, could everyone give me a file by email? My email: zzhuangzhen@163.com. Thank you.

[2020-05-22 07:42] hz-pupil commented on #28
I am from China, I cannot open google play store, so I can not download the pupil-mobile-app, could everyone give me a file by email? My email: zzhuangzhen@163.com. Thank you.

[2020-06-18 11:53] ermasood opened #42 "Internal error occured in android system"
Hi i am using pupil mobile with custom camera. I have two cameras from same manufacturer one with high frame rate upto 260 and one with lower framerate 60 fps.

Pupil moibile is working fine for low framerate camera, however, the high framerate camera is displaying internal error occured in android system .
I have checked the camera on other mobile apps it is working fine, that means it is not the